.Rproj.user
.Rhistory
.RData
.Ruserdata
KTM_Lab.Rproj
Data/AD_Tracking/train_sample.csv
Data/AD_Tracking/train.csv
Data
.RDataTmp
.RDataTmp1
LAB/drink.csv
LAB/snsdata.csv
LAB/.ipynb_checkpoints/IRIS-checkpoint.ipynb
.spyproject/

tmp.png
tmp
